@inherits LayoutComponentBase


    <header>
        <img src="./images/formHeaderRegistro.png">
    </header>
    <div class="container" style="background-color: #FFFFee;">
        <main role="main" class="pb-3">
            <div class="container">
                <div class="row">
                    <div class="col-2">
                        <!-- opciones panel cliente-->
                        <!--@await Component.InvokeAsync("PanelListaOpcClientPanel");-->
                    </div>
                    <div class="col-10">
                        @Body
                    </div>
                </div>
            </div>
        </main>
    </div>

